//
//  Desktop large, starts from ipad landscape (min 1024)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product.main.container {
        display: grid;
        align-items: start;
        justify-items: start;
        justify-content: start;
        grid-template-columns: 20% 50% auto;
        position: relative;

        > .container-product-info,
        > .container-product-details {
            position: sticky;
            top:0;
        }
    }

} // end min 1024

//
//  Desktop, starts from ipad portrait (min 768)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-1column {
        .product-info-main,
        .product.media {
            width: 100%;
        }
        .product-info-main {
            float: none;
        }
    }
} // end min 768